/* Color palette from https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1faee;
    font-family: Arial, Helvetica, sans-serif;
}

/* Desktop navbar */
.desktop-navbar {
    position: fixed;
    background-color: #457b9d;
    text-align: center;
    width: 100%;
    box-shadow: 0px 5px 0px #1d3557;
    z-index: 10;
    display: grid;
    grid-template-columns: auto auto;
}
.desktop-navbar .desktop-navbar-title {
    font-size: 24px;
    color: #f1faee;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 50px;
}
.desktop-navbar ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}
.desktop-navbar ul li {
    list-style: none;
}
.desktop-navbar ul li a {
    /* Text formatting */
    text-align: center;
    font-size: 18px;
    color: #f1faee;
    text-decoration: none;
    /* Positional formatting */
    padding: 0px 10px;
    height: 50px;
    display: flex;
    align-items: center;
    /* Used for hover effects */
    transition: 0.3s;
}
.desktop-navbar ul li a:hover {
    color: #1d3557;
    background-color: #a8dadc;
    transition: 0.3s;
}
.desktop-navbar-buffer {
    height: 55px;
}

/* Mobile navbar */

/* Banner image and text */
.banner {
    position: relative;
    width: 100%;
}
.banner img {
    width: 100%;
}
.banner .banner-text {
    /* Text formatting */
    color: #f1faee;
    text-align: center;
    font-size: max(12px, 1.5vw);
    /* Positional formatting */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.banner .banner-text table {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main content */
.main-content {
    margin: 5px;
}
.main-content p {
    font-size: large;
}

/* Switches between desktop and mobile navbars based on screen size */
@media screen and (max-width: 481px) {
    .desktop-navbar {
        display: none;
    }
    .desktop-navbar-buffer {
        display: none;
    }
}